#player{
    position: absolute;
    left: -50px;
    top: -50px;
    border-radius: 100%;
    background-color: lightblue;
    border: 2px solid black;
    width: 25px;
    height: 25px;
}

.player{
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 100%;
    background-color: lightcoral;
    border: 2px solid black;
    width: 25px;
    height: 25px;
}

#background{
    position: absolute;
    left: 0;
    top: 0;
}